<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to CoffeeSpot!</h1>
            <p>See hand-picked coffeespots from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/coffeespots/new">Add New Coffeespot</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="colo-lg-12">
            <h3></h3>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% coffeespots.forEach(function(coffeespot){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= coffeespot.image %>">     
                    <div class+"caption">
                        <h4><%= coffeespot.name%></h4>
                    </div>
                    <p>
                        <a href="/coffeespots/<%= coffeespot._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>        
    </div>
</div>

<% include ../partials/footer %>